@model WEBCOREADS2021.Models.Dominio.Area

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Area</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="produtorID" class="control-label"></label>
                <select asp-for="produtorID" class ="form-control" asp-items="ViewBag.produtorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="hectares" class="control-label"></label>
                <input asp-for="hectares" class="form-control" />
                <span asp-validation-for="hectares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bairro" class="control-label"></label>
                <input asp-for="bairro" class="form-control" />
                <span asp-validation-for="bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="municipio" class="control-label"></label>
                <input asp-for="municipio" class="form-control" />
                <span asp-validation-for="municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gps" class="control-label"></label>
                <input asp-for="gps" class="form-control" />
                <span asp-validation-for="gps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
